<h1 id="atractor">Atractor</h1>
<p>This program plots any R^3 function along time.</p>
<p>It was conceived to plot atractors, but can be used with other functions as well, like gravitation ones.</p>
<h1 id="installing-dependencies">Installing dependencies</h1>
<p>This program requires SDL2 and randomize/common-libs. In debian-like distros, SDL2 is available in apt-get:</p>
<pre><code>sudo apt-get install libsdl2-dev</code></pre>
<p>randomize/common-libs can be downloaded with wget or git:</p>
<pre><code>wget https://bitbucket.org/mutcoll/randomize/get/master.zip; unzip master.zip</code></pre>
<p>or</p>
<pre><code>git clone https://bitbucket.org/mutcoll/randomize.git</code></pre>
<p>or</p>
<pre><code>git clone git@bitbucket.org:mutcoll/randomize.git</code></pre>
<p>and then:</p>
<pre><code>cd randomize/common-libs
make
sudo make install
cd ../../</code></pre>
<h1 id="installing">Installing</h1>
<p>you can build the program with make, the file is in the src directory</p>
<pre><code>cd src
make
cd ..</code></pre>
<p>finally, to launch:</p>
<pre><code>./atractor</code></pre>
<p>You can also pass a number, and will plot several pre-defined functions:</p>
<pre><code>./atractor 10</code></pre>
